    ::-webkit-scrollbar {
        display: none;
    }

    * {
        font-family: 'Altinn-DIN Exp', 'HarmonyOS_Sans_SC_Regular_MIN', 'Microsoft Yahei', 'PingFang SC', 'SimHei';
    }

    .fontMin *,
    .v-overlay-container * {
        font-family: 'Altinn-DIN Exp'
    }

    button {
        cursor: pointer;
    }

    ::selection {
        background: hsla(0, 0%, 80%, 0.5);
    }